*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    width: 450px;
    height: 800px;
    padding: 60px 35px 35px 35px;
    margin: 100px 0px;
    border-radius: 20px;
    background: rgb(233, 241, 241);
    box-shadow: 17px 17px 20px rgb(126, 126, 126),
                -13px -13px 20px #ffffff;
}
.sign-up>.heading{
    width: 100%;
    height: 10%;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.sign-up>.heading>p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: salmon;
    margin-bottom: 2em;
}
.sign-up>.input-fields{
    width: 100%;
    padding:75px 5px 5px 5px ;
}
.sign-up>.input-fields .user-name,.user-id, .user-mobile, .password, .confirm-password{
    margin-bottom: 30px;
    border-radius: 18px;
    box-shadow: inset 8px 8px 8px rgb(203, 206, 209),
                inset -8px -8px 8px rgb(255,255,255);
}
.sign-up>.input-fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: rgb(85, 85, 85);
    padding: 20px 10px 20px 5px;
}
.sign-up>.input-fields svg{
    height: 22px;
    margin: 0px 10px -3px 25px;
}
.sign-up>.sign-up-btn{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 2em;
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255,255,255);
    text-align: center;
    background-color: salmon;
    box-shadow: 3px 3px 8px rgb(177, 177, 177),
                -3px -3px 8px rgb(255,255,255);
}
.sign-up>.sign-up-btn:hover{
    background-color: rgb(245, 103, 87);
}
.sign-up>.sign-up-btn:active{
    background-color: rgb(245, 126, 112);
}
